version: "3.8"

services:
  fastapi-service:
    build:
      context: .
      dockerfile: Dockerfile
    image: video_analysis-fastapi
    container_name: video_analysis-fastapi
    restart: unless-stopped
    depends_on:
      - postgres-service
    ports:
      - "8000:8000"
    networks:
      - video-analysis
    volumes:
      - ".:/usr/srv"

  postgres-service:
    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: video_analysis
      POSTGRES_USER: video_analysis
      POSTGRES_DB: video_analysis
    ports:
      - '5959:5432'
    networks:
      - video-analysis

  pgadmin4-service:
    image: dpage/pgadmin4
    ports:
      - '5060:5050'
      - '96:80'
    links:
      - postgres-service:postgres-service
    depends_on:
      - postgres-service
    environment:
      PGADMIN_DEFAULT_EMAIL: videoAnalysis@videoAnalysis.net
      PGADMIN_DEFAULT_PASSWORD: videoAnalysis
    networks:
      - video-analysis


networks:
  video-analysis:
