name: FastAPI & Docker & Deploy

on:
  workflow_dispatch:
  push:
    branches: [ main ]

permissions: write-all

jobs:
  build:
    name: Build Docker Image, Tag, and Deploy FastAPI
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 1

    - name: Bump Version and Push Tag
      id: tag_version
      uses: mathieudutour/github-tag-action@v6.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        default_bump: patch
        tag_prefix: ""

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Docker Image
      run: |
        repository_lowercase=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
        docker build -t ghcr.io/${repository_lowercase}/video_analysis-fastapi:${{ steps.tag_version.outputs.new_tag }} .
        docker tag ghcr.io/${repository_lowercase}/video_analysis-fastapi:${{ steps.tag_version.outputs.new_tag }} ghcr.io/${repository_lowercase}/video_analysis-fastapi:latest

    - name: Push Docker Image to GitHub Packages
      run: |
        repository_lowercase=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
        docker push ghcr.io/${repository_lowercase}/video_analysis-fastapi:${{ steps.tag_version.outputs.new_tag }}
        docker push ghcr.io/${repository_lowercase}/video_analysis-fastapi:latest

    - name: Deploy Application with Docker Compose
      run: |
        docker-compose down
        docker-compose up -d
