name: FastAPI & Docker & Deploy

on:
  workflow_dispatch:
  push:
    branches: [ main ]

permissions: write-all

jobs:
  build:
    name: Build Docker Image, Tag, and Deploy FastAPI
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 1

    - name: Bump Version and Push Tag
      id: tag_version
      uses: mathieudutour/github-tag-action@v6.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        default_bump: patch
        tag_prefix: ""

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Docker Image
      run: |
        repository_lowercase=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
        docker build -t gcr.io/YOUR_PROJECT_ID/video_analysis_fastapi:${{ steps.tag_version.outputs.new_tag }} .
        docker tag gcr.io/videoanalyzer-440208/video_analysis_fastapi:${{ steps.tag_version.outputs.new_tag }} gcr.io/videoanalyzer-440208/video_analysis_fastapi:latest

    - name: Push Docker Image to Google Container Registry
      run: |
        docker push gcr.io/videoanalyzer-440208/video_analysis_fastapi:${{ steps.tag_version.outputs.new_tag }}
        docker push gcr.io/videoanalyzer-440208/video_analysis_fastapi:latest
  
    - name: Deploy Application in Gcloud VM instance
      run: |
        gcloud run deploy video-analzer-service \
          --image gcr.io/videoanalyzer-440208/video_analysis_fastapi:latest \
          --platform managed \
          --region us-west1 \
          --allow-unauthenticated

